// bower:scss
// endbower

/* Setup */
@import "variables";
@import "mixins";
@import "normalize";
@import "reset";
@import "typography";
@import "base";
@import "wrap";
@import "zindex";
/* @import "animation"; */

/* Elements */
@import "button";
@import "list";
@import "hr";
@import "table";
// @import "input";
@import "form";j
/* Components */

.searchField {
    border: 1px solid red;
}
.test {
    margin: 2em;
    padding: 0.5em;
    border: 2px solid red;
    font-size: 2em;
    text-align: center;
  }
